section.form > h1 {
    text-align: center;
}

section.form > form {
    display: grid;
    grid: auto / 1em auto;
    grid-gap: 0.1em;
    grid-auto-flow: dense;
    margin: auto;
    font-family: sans-serif;
    font-size: 0.9em;
}

section.form > form a > button,
section.form > form input {
    border-radius: 0.3em;
    font-size: 0.7em;
    padding: 0.3em;
}

section.form > form > * {
    grid-column: 1 / 3;
}

section.form > form > label {
    align-self: center;
    margin-right: .2em;
}

section.form > form > .error {
    color: red;
    font-style: italic;
    font-size: 0.9em;
}

section.form > form button {
    width: 100%;
}

section.form > form > input[type=checkbox] {
    margin: 0;
    height: 1em;
    font-size: 100%;
}

section.form > form > input.invalid {
    border-color: red;
}

section.form > form > label[for=remember] {
    grid-column: 2;
}

section.form > form > input[name=remember] {
    grid-column: 1;
}

/*
section.form > form >  input:nth-of-type(1),
section.form > form >  label:nth-of-type(1),
section.form > form > .error:nth-of-type(1) {
    grid-row: 1;
}

section.form > form >  input:nth-of-type(2),
section.form > form >  label:nth-of-type(2),
section.form > form > .error:nth-of-type(2) {
    grid-row: 2;
}

section.form > form >  input:nth-of-type(3),
section.form > form >  label:nth-of-type(3),
section.form > form > .error:nth-of-type(3) {
    grid-row: 3;
}
*/