section.form > form {
    grid: auto / 2fr 1fr 1fr 1fr;
}

section.form > form > * {
    grid-column: 2 / 4;
}

section.form > form > label {
    grid-column: 1;
}

section.form > form > .error {
    grid-column: 4;
}

section.form > form > label {
    text-align: right;
}

section.form > form > label[for=remember] {
    grid-column: 1;
}

section.form > form > input[name=remember] {
    grid-column: 2 / 4;
}

section.form > form > a:nth-child(odd) {
    grid-column: 2;
}

section.form > form > a:nth-child(even) {
    grid-column: 3;
}